<div class="efficacy">
	<% damage_info.each do | type, damage | %>
		<div class="efficacy-type">
			<a href="/show/pokemon/type/<%= type %>?lang=<%= lang %>" aria-label="Pokémon type <%= type %>"><div id="<%= type %>" class="move-type-card move-type-card-name rounded"></div></a>
			<span><%= convert_damage(damage) %>x</span>
		</div>
	<% end %>
</div>
