<% lang = params["lang"] || lang %>

<div class="corner">
	<% path = request.path %>
	<% if !path.include?("/random") %>
		<a class="corner" href="<%= path %>"><%= I18n.t(:direct_link) %></a>
		<form action="/change-lang" method="post" id="language_select">
	<% else %>
		<a class="corner" href="/<%= lang %>/show/pokemon/<%= id %>"><%= I18n.t(:direct_link) %></a>
		<form action="/change-lang" method="post" id="language_select">
	<% end %>
		<select aria-label="Select language" id="lang-select" name="lang" required>
			<% LANGUAGE_NAMES.each do | code, name | %>
				<option value="<%= code %>"
					<% if lang == code %> selected <% end %>>🌐
						<%= name %>
					</option>
			<% end %>
		</select>
	</form>
</div>

<script>
document.querySelector('#language_select').addEventListener("change", (event) => {
	document.querySelector('#language_select').submit();
});
</script>
