<div class="corner">
	<% if request.fullpath.gsub(request.query_string, "").gsub("?", "") != "/random" %>
		<a class="corner" href="<%= request.fullpath %>"><%= I18n.t(:direct_link) %></a>
		<form action="<%= request.fullpath %>" method="get" id="language_select">
	<% else %>
		<a class="corner" href="/show/<%= id %>?lang=<%= lang %>"><%= I18n.t(:direct_link) %></a>
		<form action="/show/<%= id %>" method="get" id="language_select">
	<% end %>
		<select aria-label="Select language" id="lang-select" name="lang" required>
			<option value="en">🌐 English</option>
			<option value="de">🌐 Deutsch</option>
			<option value="fr">🌐 Français</option>
			<option value="it">🌐 Italiano</option>
			<option value="es">🌐 Español</option>
		</select>
	</form>
</div>

<script>
document.querySelector('#language_select').addEventListener("change", (event) => {
	document.querySelector('#language_select').submit();
});

window.onload = () => {
	const urlParams = new URLSearchParams(window.location.search);
	const lang = urlParams.get('lang') || 'en';
	document.querySelector('#lang-select').value = lang;
};
</script>
