<div class="menu">
	<% if params["lang"].nil? %>
		<a href="/">Random</a>
		<a href="/search">Search</a>
		<a href="/browse">Browse</a>
		<a href="/game">Game</a>
		<a href="/settings">Settings</a>
		<a href="/about">About</a>
	<% else %>
		<% language = params["lang"] %>
		<a href="/?lang=<%= language %>"><%= I18n.t(:random) %></a>
		<a href="/search?lang=<%= language %>"><%= I18n.t(:search) %></a>
		<a href="/browse?lang=<%= language %>"><%= I18n.t(:browse) %></a>
		<a href="/game?lang=<%= language %>"><%= I18n.t(:game) %></a>
		<a href="/settings?lang=<%= language %>"><%= I18n.t(:settings) %></a>
		<a href="/about?lang=<%= language %>"><%= I18n.t(:about) %></a>
	<% end %>
</div>
