<div class="menu">
	<% if params["lang"].nil? %>
		<a href="/">Home</a>
		<a href="/random">Random</a>
		<a href="/search">Search</a>
		<a href="/browse">Browse</a>
		<a href="/game">Game</a>
		<a href="/settings">Settings</a>
		<a href="/about">About</a>
	<% else %>
		<% language = params["lang"] %>
		<a href="/<%= language %>/"><%= I18n.t(:home) %></a>
		<a href="/<%= language %>/random"><%= I18n.t(:random) %></a>
		<a href="/<%= language %>/search"><%= I18n.t(:search) %></a>
		<a href="/<%= language %>/browse"><%= I18n.t(:browse) %></a>
		<a href="/<%= language %>/game"><%= I18n.t(:game) %></a>
		<a href="/<%= language %>/settings"><%= I18n.t(:settings) %></a>
		<a href="/<%= language %>/about"><%= I18n.t(:about) %></a>
	<% end %>
</div>
