<div class="move-cards">
	<% moves.each do | move | %>
		<div class="move-card">
			<a class="header" href="/show/move/<%= move["move_id"] %>/gen/<%= move["generation_id"] %>">
				<div class="card-header">
					<% if move["is_stab"] == 1 then %>
						<span class="move-name underline"><%= move["move_name"] %></span>
					<% else %>
						<span class="move-name"><%= move["move_name"] %></span>
					<% end %>
					<span class="move-level">Lv. <%= move["level"] %></span>
				</div>
			</a>
		<div class="card-body">
			<div id="<%= move["cat_id"] %>" class="category"><%= move["cat"].upcase %></div>
			<a href="/show/pokemon/type/<%= move["type_id"] %>" class="type-link"><div id="<%= move["type_id"]  %>" class="move-type-card"><%= move["type_name"]  %></div></a>
			<div class="move-stats">
				<span>PWR: <%= move["power"] || '—' %> • ACC: <%= move["accuracy"] || '—' %></span>
			</div>
		</div>
	</div>
<% end %>
</div>
