<div class="move-table">
	<table>
		<caption>

		</caption>
			<thead>
				<tr>
					<th scope="col">Lvl.</th>
					<th scope="col">Name</th>
					<th scope="col">Type</th>
					<th scope="col">Cat.</th>
					<th scope="col">Pwr.</th>
					<th scope="col">Acc.</th>
				</tr>
			</thead>
		<tbody>
			<% moves.each do |level, name, type_id, type_name, cat, cat_id, power, accuracy, is_stab, generation_id, generation_name | %>
			<tr>
				<th scope="row"><%= level %></th>
				<% if is_stab == 1 then %>
					<td class="underline"><%= name %></td>
				<% else %>
					<td><%= name %></td>
				<% end %>
				<td><a href="/show/pokemon/type/<%= type_id %>" class="type-link"><div id="<%= type_id %>" class="move-type-card"><%= type_name.upcase %></div></a></td>
				<td><div id="<%= cat_id %>" class="category"><%= cat.upcase %></td>
				<td><%= power || "—" %></td>
				<td><%= accuracy || "—" %></td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
