<div class="pokemom-list-container">
	<div class="pokemon-list">
		<% list.each do | id, info | %>
			<div class="pokemon search">
				<% info[:types].each do |id, name| %>
					<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>?lang=<%= lang %>">
						<img class="types" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= id %>.png" alt="Pokémon type <%= name %>">
					</a>
				<% end %>
				<br>
				<a href="/show/<%= id %>?lang=<%= lang %>"><img loading="lazy" src="<%= info[:sprite] %>"><br><%= info[:name] %><br></a>
				<a class="test" href="/show/pokemon/gen/<%= info[:gen][1] %>?lang=<%= lang %>"><%= info[:gen][0] %></a>
				<br>
			</div>
		<% end %>
	</div>
</div>
