<div class="pokemom-list-container">
	<div class="pokemon-list">
		<% list.each do | id, info | %>
			<div class="pokemon search">
				<div class="id-container">
					<% id.to_s.chars.map(&:to_i).each do | num | %>
						<span><%= num %></span>
					<% end %>
				</div>
				<div class="type-container">
				<% info[:types].each do |id, name| %>
					<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>?lang=<%= lang %>">
					<div id="<%= id %>" class="move-type-card move-type-card-name rounded"></div>
					</a>
				<% end %>
				</div>
				<br>
				<a href="/show/<%= id %>?lang=<%= lang %>"><img loading="lazy" src="<%= info[:sprite] %>"><br><%= info[:name] %><br></a>
				<a class="test" href="/show/pokemon/gen/<%= info[:gen][1] %>?lang=<%= lang %>"><%= info[:gen][0] %></a>
				<br>
			</div>
		<% end %>
	</div>
</div>
