<%= partial :lang_select, id: id, lang: lang %>

<div class="game">
	<h1><%= get_localised_text(lang, :guess_the_pokemon) %></h1>
	<p><%= get_localised_text(lang, :correct_guesses) %>: <%= points %> / <%= guesses %> • <%= get_localised_text(lang, :skipped) %>: <%= skips %></p>

	<a class="a-btn-1" href="/game/reset/<%= lang %>"><%= get_localised_text(lang, :reset) %></a>
	<br />

	<img src="<%= sprite %>" style="filter: blur(<%= rand(5..15)%>px); width: 256px"/>
	<br />

	<form action="/game?lang=<%= lang %>" method="post">
		<input name="guess" autocomplete="off" required placeholder="<%= get_localised_text(lang, :enter_pokemon_name_game) %>">
		<button type="submit"><%= get_localised_text(lang, :guess_button) %></button>
		<a class="a-btn-2" href="/game/skip/<%= lang %>"><%= get_localised_text(lang, :skip) %></a>
	</form>
	<br />

	<h2>Hints</h2>

	<details>
		<summary>
		First letter of name
		</summary>
		<p>First letter of name: <%= hints[:first_letter] %></p>
	</details>

	<details>
		<summary>
		Last letter of name
		</summary>
		<p>Last letter of name: <%= hints[:last_letter] %></p>
	</details>

</div>