<%= partial :lang_select, id: id, lang: lang %>

<h1>Game Results</h1>
<p><%= get_localised_text(lang, :correct_guesses) %>: <%= points %> / <%= guesses %> • <%= get_localised_text(lang, :skipped) %>: <%= skips %> • Difficulty: <%= session[:difficulty].capitalize %> </p>

<div class="game-results">
	<% session[:results].each do | id, data | %>
		<div class="guess">
			<img width="64px" src="/sprites/pokemon/<%= id %>.png"/>
			<p>You guessed: <u><%= data[:guess] %></u></p>
			<p>The Pokémon was: <u><%= data[:name] %></u></p>
			<% if data[:correct] %>
				<p>Your guess was correct</p>
			<% else %>
				<p>Your guess was wrong</p>
			<% end %>
		</div class="guess">
	<% end %>
</div>