<%= partial :lang_select, id: id, lang: lang %>

<h1><%= get_localised_text(lang, :guess_the_pokemon) %></h1>
<p><%= get_localised_text(lang, :points) %>: <%= points %> <a class="a-btn-1" href="/game/reset/<%= lang %>"><%= get_localised_text(lang, :reset) %></a></p>
<br />
<img src="<%= sprite %>" style="filter: blur(<%= rand(5..15)%>px); width: 256px">
<br />
<form action="/game?lang=<%= lang %>" method="post">
	<input name="guess" autocomplete="off" placeholder="<%= get_localised_text(lang, :enter_pokemon_name_game) %>">
	<button type="submit"><%= get_localised_text(lang, :guess_button) %></button>
</form