<% if correct then %>
	<h1>You guessed correctly!</h1>
	<img src="<%= pokemon_info[:sprite] %>" style="width: 256px">
	<br />
	<p>You guessed <%= guess.upcase %> and the Pokémon was <%= pokemon_info[:name] %>. Well done!</p>
<% else %>
	<h1>Better luck next time!</h1>
	<img src="<%= pokemon_info[:sprite] %>" style="width: 256px">
	<br />
	<p>You guessed <u><%= guess.capitalize %></u> but the Pokémon was <u><%= pokemon_info[:name] %></u></p>
<% end %>
<br />
<a href="/game"><button>Play again!</button></a>