<% lang = CGI.parse(URI(request.fullpath).query.to_s)['lang']&.first %>

<div class="guess">
	<% if correct then %>
		<h1><%= get_localised_text(lang, :you_guessed_correctly) %></h1>
		<img src="<%= pokemon_info[:sprite] %>">
		<br />
		<p>You guessed <u><%= guess.capitalize %></u> and the Pokémon was <u><%= pokemon_info[:name] %></u>. Well done!</p>
	<% else %>
		<h1><%= get_localised_text(lang, :better_luck_next_time) %></h1>
		<img src="<%= pokemon_info[:sprite] %>">
		<br />
		<p>You guessed <u><%= guess.capitalize %></u> but the Pokémon was <u><%= pokemon_info[:name] %></u></p>
	<% end %>
	<br />
	<a href="/game?lang=<%= lang %>"><button><%= get_localised_text(lang, :play_again) %></button></a>
</div>