<%= partial :lang_select, id: id, lang: lang %>

<div class="types">
	<h1 class="pokemon-title">
		<%= name %>
		<img class="sound-btn" src="/sound.svg" onclick="new Audio('<%= calls %>').play()">
	</h1>
	<% types.each do |type| %>
		<a style="text-decoration: none;" href="/show/pokemon/type/<%= type.first.to_s %>?lang=<%= lang %>">
			<img class="types" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= type.first.to_s %>.png" alt="Pokémon type <%= type.first.to_s %>">
		</a>
	<% end %>
	<hr class="small">
	<span>
		<%= weight / 10 %> kg •
		<%= height / 10 %> m •
		<%= species_name %> •
		<a href="/show/pokemon/gen/<%= gen[1] %>?lang=<%= lang %>"><%= gen[0] %></a>
	</span>
	<span>
		<%= get_localised_text(lang, :hp) %>: <%= stats[:hp] %> •
		<%= get_localised_text(lang, :atk) %>: <%= stats[:atk] %> •
		<%= get_localised_text(lang, :def) %>: <%= stats[:def] %> •
		<%= get_localised_text(lang, :spatk) %>: <%= stats[:spatk] %> •
		<%= get_localised_text(lang, :spdef) %>: <%= stats[:spdef] %> •
		<%= get_localised_text(lang, :speed) %>: <%= stats[:speed] %>
</span>

<hr class="small">
<span><%= get_localised_text(lang, :abilities) %>:</span>
<div class="evolutions">
<% abilities.each do | name, hidden, slot, id, unformatted | %>
	<a href="/show/ability/<%= id %>?lang=<%= lang %>"><%= name %></a>
<% end %>
</div>

<% unless evolutions.nil? or evolutions.size == 0 or evolutions.size == 1 %>
	<hr class="small">
	<span><%= get_localised_text(lang, :evolutions) %>:</span>
<% end %>

<div class="evolutions">
		<% if evolutions.size == 1 or evolutions.nil? or evolutions.size == 0 then %>
		<% else %>
			<% evolutions.each do | evolution | %>
				<% if evolutions_formatted[evolution] == name then %>
						<a class="current" href="/show/<%= evolution %>?lang=<%= lang %>"><%= evolutions_formatted[evolution] %></a>
					<% else %>
						<a href="/show/<%= evolution %>?lang=<%= lang %>"><%= evolutions_formatted[evolution] %></a>
					<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<div class="sprites">
	<% case sex
	when "", nil %>
		<% if form == "shiny" and !front_shiny.nil? and !animated %>
			<img src="<%= front_shiny %>" alt="Front shiny sprite">

			<% unless back_shiny.nil? %>
				<img src="<%= back_shiny %>" alt="Back shiny sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?lang=<%= lang %>"><%= get_localised_text(lang, :normal) %></a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :female) %></a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?animated=true&form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :toggle_animation) %></a>
				<% end %>
			</div>

		<% elsif form == "" or form == "normal" or form.nil? and !animated %>
			<img src="<%= sprite %>" alt="Front default sprite">

			<% unless sprite_back.nil? %>
				<img src="<%= sprite_back %>" alt="Back default sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :shiny) %></a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&lang=<%= lang %>"><%= get_localised_text(lang, :female) %></a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?animated=true&lang=<%= lang %>"><%= get_localised_text(lang, :toggle_animation) %></a>
				<% end %>
			</div>

		<% elsif form == "" or form == "normal" or form.nil? and animated %>
			<img src="<%= animated_front %>" alt="Animated front sprite">

			<% unless animated_back.nil? %>
				<img src="<%= animated_back %>" alt="Animated back sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&animated=true&lang=<%= lang %>"><%= get_localised_text(lang, :shiny) %></a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&lang=<%= lang %>"><%= get_localised_text(lang, :female) %></a>
				<% end %>

				<a href="/show/<%= id %>?lang=<%= lang %>"><%= get_localised_text(lang, :toggle_animation) %></a>
			</div>

		<% elsif form == "shiny" and !front_shiny.nil? and animated %>
			<img src="<%= animated_front_shiny %>" alt="Animated front shiny sprite">

			<% unless animated_back_shiny.nil? %>
				<img src="<%= animated_back_shiny %>" alt="Animated back shiny sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?animated=true&lang=<%= lang %>"><%= get_localised_text(lang, :normal) %></a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :female) %></a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :toggle_animation) %></a>
				<% end %>
			</div>
		<% end %>

	<% when "female" %>
		<% if form == "shiny" and !front_shiny_female.nil? %>
			<img src="<%= front_shiny_female %>" alt="Front shiny female sprite">

			<% unless back_shiny_female.nil? %>
				<img src="<%= back_shiny_female %>" alt="Back shiny female sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?s=female&lang=<%= lang %>"><%= get_localised_text(lang, :normal) %></a>
				<a href="/show/<%= id %>?form=shiny&lang=<%= lang %>"><%= get_localised_text(lang, :male) %></a>
			</div>
		<% elsif form == "" or form == "normal" or form.nil? %>
			<img src="<%= front_female %>" alt="Default front female sprite">

			<% unless back_female.nil? %>
				<img src="<%= back_female %>" alt="Default back female sprite">
			<% end %>

			<br>
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&s=female&lang=<%= lang %>"><%= get_localised_text(lang, :shiny) %></a>
				<a href="/show/<%= id %>?lang=<%= lang %>"><%= get_localised_text(lang, :male) %></a>
			</div>
		<% end %>
	<% end %>
</div>


<div class="info">
	<hr>
	<div class="flavour">
		<p><%= flavour_text %></p>
	</div>
	<hr>

	<h3 class="no-bottom-margin"><%= get_localised_text(lang, :damage_taken_from_other_types) %></h3>
	<p class="info">(The amount of damage that a Pokémon of this type – or type combination – receives from other types)</p>
	<%= partial :damage, damage_info: damage_taken, lang: lang %>
</div>

<details style="margin-top: 10px;">
		<summary>Toggle table</summary>
		<%= partial :old_damage, damage_info: damage_taken, lang: lang %>
</details>
<hr>

<h3 class="no-bottom-margin">Moves in <%= moves[0][10] %></h3>
<p class="info">(<u>Underlined</u> moves are STAB. The moves this Pokémon learns from levelling up in <%= moves[0][10] %>)</p>
<% unless move_gens.size == 1 and move_gens[0] == moves[0][9] then %>
	<%= partial :move_gens_type, gens: move_gens, id: id, lang: lang %>
	<p class="info">(Click the button to view this Pokémon’s moveset in another generation)</p>
	<hr class="small">
<% end %>
<details>
	<summary>Toggle table</summary>
	<%= partial :move_table, moves: moves, lang: lang %>
	<hr>
</details>

<%= partial :move_cards, moves: moves, lang: lang %>
