<% if form == nil %>
	<a class="corner" href="/show/<%= id %>?lang=<%= lang %>">Direct link</a>
<% else %>
	<a class="corner" href="/show/<%= id %>?form=<%= form %>&lang=<%= lang %>">Direct link</a>
<% end %>

<form action="/" method="get" id="language_select">
	<select id="lang-select" name="lang" required>
		<option value="en">English</option>
		<option value="de">German</option>
		<option value="fr">French</option>
		<option value="it">Italian</option>
		<option value="ja">Japanese</option>
		<option value="cn-ZH">Chinese (Simplified)</option>
	</select>
</form>

<script>
document.querySelector('#language_select').addEventListener("change", (event) => {
	document.querySelector('#language_select').submit(); 
});

window.onload = () => {
	const urlParams = new URLSearchParams(window.location.search);
	const lang = urlParams.has('lang') ? urlParams.get('lang') : 'en';
	document.querySelector('#lang-select').value = lang;
};
</script>

<div class="types">
	<h1><%= name %></h1>
	<% types.each do |type| %>
		<img src="/sprites/types/generation-vii/ultra-sun-ultra-moon/<%= type.first.to_s %>.png" alt="Pokémon type <%= type.first.to_s %>"/>
	<% end %>
	<span>
		<%= weight / 10 %> kg •
		<%= height / 10 %> m •
		<%= species_name %>
	</span>
	<span>
		HP: <%= stats[:hp] %> • 
		Atk: <%= stats[:atk] %> •
		Def: <%= stats[:def] %> •
		Sp.Atk: <%= stats[:spatk] %> •
		Sp.Def: <%= stats[:spdef] %> •
		Speed: <%= stats[:speed] %>
</span>
<div class="evolutions">
<span>Abilities:</span>
<% abilities.each do | name, hidden, slot, id, unformatted | %>
	<a href="/show/ability/<%= id %>"><%= name %></a>
<% end %>
</div>
<div class="evolutions">
		<span>Evolutions:
		<% if evolutions.size == 1 or evolutions.nil? or evolutions.size == 0 then %>
			none</span>
		<% else %>
		</span>
			<% evolutions.each do | evolution | %>
				<% if evolutions_formatted[evolution] == name then %>
						<a class="current" href="/show/<%= evolution %>"><%= evolutions_formatted[evolution] %></a>
					<% else %>
						<a href="/show/<%= evolution %>?lang=<%= lang %>"><%= evolutions_formatted[evolution] %></a>
					<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<div class="sprites">
	<% case sex 
	when "", nil %>
		<% if form == "shiny" and !front_shiny.nil? and !animated %>
			<img src="<%= front_shiny %>" alt="Front shiny sprite"/>

			<% unless back_shiny.nil? %>
				<img src="<%= back_shiny %>" alt="Back shiny sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?lang=<%= lang %>">Show normal</a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&form=shiny&lang=<%= lang %>">Show female</a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?animated=true&form=shiny&lang=<%= lang %>">Toggle animation</a>
				<% end %>
			</div>

		<% elsif form == "" or form == "normal" or form.nil? and !animated %>
			<img src="<%= sprite %>" alt="Front default sprite"/>

			<% unless sprite_back.nil? %>
				<img src="<%= sprite_back %>" alt="Back default sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&lang=<%= lang %>">Show shiny</a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&lang=<%= lang %>">Show female</a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?animated=true&lang=<%= lang %>">Toggle animation</a>
				<% end %>
			</div>

		<% elsif form == "" or form == "normal" or form.nil? and animated %>
			<img src="<%= animated_front %>" alt="Animated front sprite"/>

			<% unless animated_back.nil? %>
				<img src="<%= animated_back %>" alt="Animated back sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&animated=true&lang=<%= lang %>">Show shiny</a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&lang=<%= lang %>">Show female</a>
				<% end %>

				<a href="/show/<%= id %>?lang=<%= lang %>">Toggle animation</a>
			</div>

		<% elsif form == "shiny" and !front_shiny.nil? and animated %>
			<img src="<%= animated_front_shiny %>" alt="Animated front shiny sprite"/>

			<% unless animated_back_shiny.nil? %>
				<img src="<%= animated_back_shiny %>" alt="Animated back shiny sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?animated=true&lang=<%= lang %>">Show normal</a>

				<% unless front_shiny_female.nil? %>
					<a href="/show/<%= id %>?s=female&form=shiny&lang=<%= lang %>">Show female</a>
				<% end %>

				<% unless animated_front.nil? %>
					<a href="/show/<%= id %>?form=shiny&lang=<%= lang %>">Toggle animation</a>
				<% end %>
			</div>
		<% end %>
	
	<% when "female" %>
		<% if form == "shiny" and !front_shiny_female.nil? %>
			<img src="<%= front_shiny_female %>" alt="Front shiny female sprite"/>

			<% unless back_shiny_female.nil? %>
				<img src="<%= back_shiny_female %>" alt="Back shiny female sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?s=female">Show normal</a>
				<a href="/show/<%= id %>?form=shiny">Show male</a>
			</div>
		<% elsif form == "" or form == "normal" or form.nil? %>
			<img src="<%= front_female %>" alt="Default front female sprite"/>

			<% unless back_female.nil? %>
				<img src="<%= back_female %>" alt="Default back female sprite"/>
			<% end %>

			<br />
			<div class="sprites-links">
				<a href="/show/<%= id %>?form=shiny&s=female&lang=<%= lang %>">Show shiny</a>
				<a href="/show/<%= id %>?lang=<%= lang %>">Show male</a>
			</div>
		<% end %>
	<% end %>
</div>

<div class="info">	
	<div class="flavour">
		<p><%= flavour_text %></p>
	</div>

	<div class="damage">
		<h3>Damage taken from other types</h3>
		<span>(horizontally scrollable on small screens)</span>
		<div class="damage_taken">
			<table>
			<thead>
			<tr>
			<% 18.times do |num| %>
				<th><img src="/sprites/types/generation-vii/ultra-sun-ultra-moon/<%= num  + 1 %>.png" alt="Pokémon type <%= num + 1 %>"/></th>
			<% end %>
			</tr></thead>
			<tbody>
			<tr>
				<% damage_taken.each do |type| %>
					<% if type[1].to_f / 100 == 0.5 then %>
						<% converted_type = "½" %>
					<% elsif type[1].to_f / 100 == 0.25 then %>
						<% converted_type = "¼" %>
					<% else %>
						<% converted_type = type[1].to_f / 100 %>
						<% converted_type = converted_type.to_s.gsub(/(\.)0+$/, '') %>
					<% end %>

					<td><%= converted_type %>x</td>
				<% end %>
			</tr>
			</tbody>
			</table>
		</div>
	</div>
</div>
<br/>
