<%= partial :lang_select, id: id, lang: lang %>

<div class="index">
	<div class="text">
		<h1><%= I18n.t(:welcome_heading) %></h1>

		<figure style="float: left; margin: 0 15px 10px 0;">
			<img src="logo.webp" width="120px" alt="The Theriodex logo which consists of a purple Vaporeon holding and clutching around a coin-shaped sign that has theriodex.net written on it">
			<figcaption>Vappy says hello!</figcaption>
		</figure>

		<p><%= I18n.t(:welcome) %></p>

		<h2><%= I18n.t(:todo_heading) %></h2>

		<p><%= I18n.t(:todo) %></p>

		<p><%= I18n.t(:customise) %></p>
	</div>

	<div class="random-index-pokemon-container">
		<div class="random-index-pokemon">
			<div>
				<h2><%= I18n.t(:did_you_know, name: name) %></h2>
				<div class="type-container">
				<% types.each do |type| %>
					<a style="text-decoration: none;" href="/show/pokemon/type/<%= type.first.to_s %>?lang=<%= lang %>" aria-label="Pokémon type <%= type.first.to_s %>">
					<div id="<%= type.first.to_s %>" class="move-type-card move-type-card-name rounded"></div>
					</a>
				<% end %>
				</div>
			</div>
			<br>

			<div class="index-sprites-text">
				<div class="sprites">
					<%= image_tag sprite, alt: "#{name} front sprite" %>
				</div>

				<div class="flavour-index">
					<p><%= flavour_text %></p>
				</div>
			</div>

			<div>
				<a class="a-btn-1" href="/show/pokemon/<%= name %>"><%= I18n.t(:learn_more) %></a>
			</div>
		</div>
	</div>
</div>
