<%= partial :lang_select, id: id, lang: lang %>

<div class="types">
	<h1 class="pokemon-title">
		<%= name %>
		<img class="sound-btn" src="/sound.svg" alt="A button showing a speaker" onclick="new Audio('<%= calls %>').play()">
	</h1>
	<div class="type-container">
	<% types.each do |type| %>
		<a style="text-decoration: none;" href="/show/pokemon/type/<%= type.first.to_s %>?lang=<%= lang %>" aria-label="Pokémon type <%= type.first.to_s %>">
		<div id="<%= type.first.to_s %>" class="move-type-card move-type-card-name rounded"></div>
		</a>
	<% end %>
	</div>
	<div class="generation-index">
	</div>
	<hr class="small">
	<div class="stats">
		<span><%= weight / 10 %> kg</span>
		<span><%= height / 10 %> m</span>
		<span><%= species_name %></span>
	</div>
	<div class="stats">
		<span><%= get_localised_text(lang, :hp) %>: <%= stats[:hp] %></span>
		<span><%= get_localised_text(lang, :atk) %>: <%= stats[:atk] %></span>
		<span><%= get_localised_text(lang, :def) %>: <%= stats[:def] %></span>
		<span><%= get_localised_text(lang, :spatk) %>: <%= stats[:spatk] %></span>
		<span><%= get_localised_text(lang, :spdef) %>: <%= stats[:spdef] %></span>
		<span><%= get_localised_text(lang, :speed) %>: <%= stats[:speed] %></span>
	</div>
	<div class="stats">
		<span>Introduced in: <a href="/show/pokemon/gen/<%= gen[1] %>?lang=<%= lang %>"><%= gen[0] %></a></span>
	</div>

<hr class="small">
<span><%= get_localised_text(lang, :abilities) %></span>
<div class="evolutions">
<% abilities.each do | name, hidden, slot, id, unformatted | %>
	<a href="/show/ability/<%= id %>?lang=<%= lang %>"><%= name %></a>
<% end %>
</div>

<% unless evolutions.nil? or evolutions.size == 0 or evolutions.size == 1 %>
	<hr class="small">
	<span><%= get_localised_text(lang, :evolutions) %></span>
<% end %>

<div class="evolutions">
		<% if evolutions.size == 1 or evolutions.nil? or evolutions.size == 0 then %>
		<% else %>
			<% evolutions.each do | evolution | %>
				<% if evolutions_formatted[evolution] == name then %>
						<a class="current" href="/show/<%= evolution %>?lang=<%= lang %>"><%= evolutions_formatted[evolution] %></a>
					<% else %>
						<a href="/show/<%= evolution %>?lang=<%= lang %>"><%= evolutions_formatted[evolution] %></a>
					<% end %>
			<% end %>
		<% end %>
	</div>
</div>

<div class="sprites">
	<%= image_tag formatted_sprites[:front], alt: "#{name} front sprite" %>

	<% if formatted_sprites[:back] %>
		<%= image_tag formatted_sprites[:back], alt: "#{name} back sprite" %>
	<% end %>

	<br>
	<div class="sprites-links">
		<% formatted_sprites[:links].each do |link| %>
			<a href="<%= link[:url] %>"><%= link[:icon] %> <%= get_localised_text(lang, link[:key]) %></a>
		<% end %>
	</div>
</div>


<div class="info">
	<hr>
	<div class="flavour">
		<p><%= flavour_text %></p>
	</div>
	<hr>

	<h3 class="no-bottom-margin"><%= get_localised_text(lang, :damage_taken_from_other_types) %></h3>
	<p class="info">(The amount of damage that a Pokémon of this type – or type combination – receives from other types)</p>
	<%= partial :damage, damage_info: damage_taken, lang: lang %>
</div>

<hr>
<h3><%= name %> – Moves</h3>
<% unless move_gens.size == 1 and move_gens[0] == moves[0][9] then %>
	<%= partial :move_gens_type, gens: move_gens, id: pokemon_id, lang: lang %>
	<p class="info">(Click the button to view this Pokémon’s moveset in another generation)</p>
<% end %>

<div class="type-move-container">
	<a class="a-btn-3" href="/show/pokemon/moves/<%= id %>/gen/<%= moves[0][9] %>">Moves learnt by all means</a>
</div>
<p class="info">(Click the button to view all of the moves this Pokémon can learn – e. g. moves learnt through machines)</p>
<hr>

<h3 class="no-bottom-margin">Moves in <%= moves[0][10] %></h3>
<p class="info">(<u>Underlined</u> moves are STAB. The moves this Pokémon learns from levelling up in <%= moves[0][10] %>. Cards view works better on mobile, table view is better on desktop.)</p>

<div class="tab table-cards-tabs">
	<button class="tablinks" onclick="openTab(event, 'level-cards')">Cards View</button>
	<button class="tablinks" onclick="openTab(event, 'level-table')">Table View</button>
</div>

<div id="level-cards" class="tabcontent">
	<%= partial :move_cards, moves: moves, lang: lang %>
</div>

<div id="level-table" class="tabcontent">
	<%= partial :move_table, moves: moves, lang: lang %>
</div>

<%= partial :tab_js %>
