<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">

	<% unless request.path_info =~ %r{^/show/(?!ability\b|moves\b)[^/]+/?$} %>
		<meta name="description" content="Theriodex is a small website for displaying information about either specific Pokémon or a random one – an open-source Pokédex made by Hexaitos.">
	<% else %>
		<meta name="description" content="<%= name %> is a Pokémon. <%= flavour_text %>">
		<meta property="og:title" content="Theriodex – <%= name %>">
		<meta property="og:description" content="<%= name %> is a Pokémon. <%= flavour_text %>">
		<meta property="og:image" content="<%= request.base_url %><%= sprite %>">
		<meta property="og:url" content="<%= request.base_url %><%= request.path_info %>">
		<script type="application/ld+json">
			<%= {
				"@context": "https://schema.org",
				"@type": "WebPage",
				"url": request.base_url + request.path_info,
				"name": "Theriodex – #{name}",
				"description": "#{name} is a Pokémon. #{flavour_text}",
				"image": {
					"@type": "ImageObject",
					"url": request.base_url + sprite,
					"contentUrl": request.base_url + sprite,
					"width": 128,
					"height": 128,
					"caption": "#{name} sprite",
					"representativeOfPage": true,
				}
			}.to_json %>
		</script>
	<% end %>

	<script defer data-domain="dex.btlr.sh" src="https://analytics.btlr.sh/js/script.file-downloads.outbound-links.js"></script>
	<script>window.plausible = window.plausible || function() { (window.plausible.q = window.plausible.q || []).push(arguments) }</script>

	<% unless request.path_info =~ %r{^/show/(?!ability\b|moves\b)[^/]+/?$} %>
		<title>Theriodex</title>
	<% else %>
		<title>Theriodex – <%= name %></title>
	<% end %>

	<link rel="preload" as="style" href="/css/styles.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>

<body>
	<div class="menu">
		<a href="/">Home</a>
		<a href="/search">Search</a>
		<a href="/about">About</a>
	</div>

	<div class="main">
		<%= yield %>
	</div>

	<footer>
		<span>Made by <a href="https://hexaitos.com">Hexaitos</a> with Sinatra (<a href="https://git.hexaitos.eu/hexaitos/theriodex">source code</a>). Pokémon and Pokémon character names are trademarks of Nintendo.</span>
		<img src="/button_theriodex.gif"/> <img src="/openbsd.gif"/>
	</footer>
</body>
</html>
