<%= partial :lang_select %>
<% grouped_pokemon = pokemon.group_by { | entry | entry["version_name"] }%>

<h1>Pokémon move <%= move_info[0]["name"] %> in <%= move_info[0]["gen_name"] %></h1>

<a class="a-btn-3 full" href="/show/pokemon/move/<%= move_info[0]["move_id"] %>/gen/<%= move_info[0]["generation_id"] %>">Show all Pokémon that learn this move</a>
<br>
<div class="tab">
<% versions.each_with_index do | version, index | %>
	<% if index == 0 %>
		<button class="tablinks" id="defaultOpen" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% else %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% end %>
<% end %>
</div>


<% move_info.each do |move| %>
	<div id="<%= move["version_name"] %>" class="tabcontent">
		<div class="move-info">
			<h2 class="no-bottom-margin"><%= move['name'] %></h2>
			<p class="info">(<%= move["description"] %>)</p>

			<a href="/show/pokemon/type/<%= move["move_type_id"] %>" class="type-link"><div id="<%= move["move_type_id"] %>" class="move-type-card big"><%= move["move_type_name"].upcase %></div></a>
			<div id="<%= move["move_damage_class_id"] %>" class="category big"><%= move["move_damage_name"].upcase %></div>

			<p><strong>Power:</strong> <%= move['move_power'].to_i > 0 ? move['move_power'] : '—' %></p>
			<p><strong>Accuracy:</strong> <%= move['move_accuracy'] ? "#{move['move_accuracy']}%" : '—' %></p>
			<p><strong>PP:</strong> <%= move['PP'] || '—' %></p>

			<p><strong>Effect:</strong> <%= move['move_short_effect_text'] || move['move_effect_text'] %></p>

			<% if move['chance'].to_i > 0 %>
				<p><strong>Effect Chance:</strong> <%= move['chance'] %>%</p>
			<% end %>

			<% rate = [] %>
			<% CRIT[move["crit_rate"]].each do | gen | %>
				<% if move["generation_id"] <= gen[0] then %>
					<% rate << gen[1] %>
				<% end %>
			<% end %>

			<p><strong>Crit Rate</strong>: <%= rate[0] %>%</p>

			<hr>
			<h3>Pokémon that learn this move in this version</h3>
			<% grouped_pokemon[move["version_name"]].group_by { | entry | entry["learn_method_name"]}.each do | method, entries | %>
				<details class="pokemon-learning-move">
					<summary>By <%= method %></summary>
					<div class="pokemom-list-container">
						<div class="pokemon-list">
							<% entries.each do |entry| %>
							<div class="pokemon search">
								<div class="id-container">
									<% entry["pokemon_id"].to_s.chars.map(&:to_i).each do | num | %>
										<span><%= num %></span>
									<% end %>
								</div>
								<div class="type-container">
								<% entry["pokemon_type_ids"].split(',').each do | id | %>
									<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>?lang=<%= lang %>">
									<div id="<%= id %>" class="move-type-card move-type-card-name rounded"></div>
									</a>
								<% end %>
								</div>
								<%=  %>
								<br>

								<a href="/show/<%= entry["pokemon_id"] %>?lang=<%= lang %>"><img loading="lazy" class="move-pokemon" src="<%= pokemon_sprite_url(entry) %>"><br><%= entry["pokemon_name"] %><br></a>
								<br>
							</div>
							<% end %>
						</div>
					</div>
				</details>
			<% end %>
		</div>
	</div>
<% end %>

<%= partial :tab_js %>
