<h1 class="no-bottom-margin"><%= name %> moves in <%= moves[0][10] %></h3>
<p class="info">(<u>Underlined</u> moves are STAB. The moves this Pokémon learns from levelling up in <%= moves[0][10] %>)</p>
<div class="type-move-container">
	<% gens.each do | move_gen | %>
		<a class="a-btn-4" href="/show/pokemon/moves/<%= id %>/gen/<%= move_gen %>"><%= move_gen.romanise %></a>
	<% end %>
</div>
<p class="info">(Click the button to view this Pokémon’s moveset in another generation)</p>
<hr class="small">
<details>
	<summary>Toggle table</summary>
	<%= partial :move_table, moves: moves, lang: lang %>
	<hr>
</details>

<%= partial :move_cards, moves: moves, lang: lang %>
