<%= partial :lang_select %>

<h1>Pokémon move <%= move_info[0]["name"] %> in <%= move_info[0]["gen_name"] %></h1>

<a class="a-btn-3 full" href="/show/pokemon/move/<%= move_info[0]["move_id"] %>/gen/<%= move_info[0]["generation_id"] %>">Show all Pokémon that learn this move</a>
<br>
<div class="tab">
<% versions.each_with_index do | version, index | %>
	<% if index == 0 %>
		<button class="tablinks" id="defaultOpen" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% else %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% end %>
<% end %>
</div>


<% move_info.each do |move| %>
	<div id="<%= move["version_name"] %>" class="tabcontent">
		<div class="move-info">
			<h2 class="no-bottom-margin"><%= move['name'] %></h2>
			<p class="info">(<%= move["description"] %>)</p>

			<a href="/show/pokemon/type/<%= move["move_type_id"] %>" class="type-link"><div id="<%= move["move_type_id"] %>" class="move-type-card big"><%= move["move_type_name"].upcase %></div></a>
			<div id="<%= move["move_damage_class_id"] %>" class="category big"><%= move["move_damage_name"].upcase %></div>

			<p><strong>Power:</strong> <%= move['move_power'].to_i > 0 ? move['move_power'] : '—' %></p>
			<p><strong>Accuracy:</strong> <%= move['move_accuracy'] ? "#{move['move_accuracy']}%" : '—' %></p>
			<p><strong>PP:</strong> <%= move['PP'] || '—' %></p>

			<p><strong>Effect:</strong> <%= move['move_short_effect_text'] || move['move_effect_text'] %></p>

			<% if move['chance'].to_i > 0 %>
				<p><strong>Effect Chance:</strong> <%= move['chance'] %>%</p>
			<% end %>

			<% rate = [] %>
			<% CRIT[move["crit_rate"]].each do | gen | %>
				<% if move["generation_id"] <= gen[0] then %>
					<% rate << gen[1] %>
				<% end %>
			<% end %>

			<p><strong>Crit Rate</strong>: <%= rate[0] %>%</p>

			<details>
				<summary>Technical game details</summary>
				<p>ID: <%= move['move_id'] %></p>
				<p>Type ID: <%= move['move_type_id'] %></p>
				<p>Damage Class ID: <%= move['move_damage_class_id'] %></p>
			</details>
		</div>
	</div>
<% end %>

<%= partial :tab_js %>
