<%= partial :lang_select %>
<% grouped_pokemon = pokemon.group_by { | entry | entry["version_name"] }%>

<h1>Pokémon move <%= move_info[0]["name"] %> in <%= move_info[0]["gen_name"] %></h1>

<%= partial :move_gens_type_move, gens: gens, lang: lang, id: move_info[0]["move_id"].to_s %>
<p class="info">(Click the button to view this move in another generation)</p>

<hr>
<br>
<div class="tab">
<% versions.each_with_index do | version, index | %>
	<% if index == 0 %>
		<button class="tablinks" id="defaultOpen" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% else %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% end %>
<% end %>
</div>


<% move_info.each do |move| %>
	<div id="<%= move["version_name"] %>" class="tabcontent">
		<div class="move-info">
			<h2 class="no-bottom-margin"><%= move['name'] %></h2>
			<%
				power =  move["move_power"].to_i
				accuracy = move["move_accuracy"]
				pp =  move["PP"]
				chance = move["chance"].to_i
				type_id =  move["move_type_id"]
			%>

			<div class="move-type-and-cat">
				<a href="/show/pokemon/type/<%= type_id %>/gen/<%= move["generation_id"] %>" class="type-link"><div id="<%= type_id %>" class="move-type-card move-type-card-name big"></div></a>
				<div id="<%= move["move_damage_class_id"] %>" class="category big"><%= move["move_damage_name"].upcase %></div>
			</div>

			<div class="move-details">

				<div><strong>Power</strong><br> <%= power > 0 ? power : '—' %></div>
				<div><strong>Accuracy</strong><br> <%= accuracy ? "#{accuracy}%" : '—' %></div>
				<div><strong>PP</strong><br> <%= pp || '—' %></div>
				<% if chance > 0 %>
					<div><strong>Effect Chance</strong><br><%= chance %>%</div>
				<% end %>

				<% rate = [] %>
				<% CRIT[move["crit_rate"]].each do | gen | %>
					<% if move["generation_id"] <= gen[0] then %>
						<% rate << gen[1] %>
					<% end %>
				<% end %>

				<div><strong>Crit Rate</strong><br> <%= rate[0] %>%</div>
			</div>

			<p class="move-details"><strong>Effect:</strong> <%= move['move_short_effect_text'] || move['move_effect_text'] %></p>

			<hr>
			<h3>Pokémon that learn this move in this version</h3>
			<% grouped_pokemon[move["version_name"]].group_by { | entry | entry["learn_method_name"]}.each do | method, entries | %>
				<details class="pokemon-learning-move">
					<summary>By <%= method %></summary>
					<div class="pokemom-list-container">
						<div class="pokemon-list">
							<% entries.each do |entry| %>
							<div class="pokemon search">
								<div class="id-container">
									<% entry["pokemon_id"].to_s.chars.map(&:to_i).each do | num | %>
										<span><%= num %></span>
									<% end %>
								</div>
								<div class="type-container">
								<% entry["pokemon_type_ids"].split(',').each do | id | %>
									<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>?lang=<%= lang %>">
									<div id="<%= id %>" class="move-type-card move-type-card-name rounded"></div>
									</a>
								<% end %>
								</div>
								<%=  %>
								<br>

								<a href="/show/<%= entry["pokemon_id"] %>?lang=<%= lang %>"><img loading="lazy" class="move-pokemon" src="<%= pokemon_sprite_url(entry) %>"><br><%= entry["pokemon_name"] %><br></a>
								<br>
							</div>
							<% end %>
						</div>
					</div>
				</details>
			<% end %>
		</div>
	</div>
<% end %>

<%= partial :tab_js %>
