<%= partial :lang_select, id: id, lang: lang %>

<h1 class="no-bottom-margin"><%= name %> moves in <%= moves[0][10] %></h3>
<p class="info">(<u>Underlined</u> moves are STAB. The moves this Pokémon learns in <%= moves[0][10] %>)</p>

<div class="sprites">
	<% get_sprites_from_gen(moves[0][13], moves[0][12]).each do | sprite | %>
		<img src="<%= sprite %>">
	<% end %>
</div>

<%= partial :move_gens_type, gens: gens, lang: lang, id: id %>
<p class="info">(Click the button to view this Pokémon’s moveset in another generation)</p>
<hr>

<h2>Through level up</h2>
<div class="tab">
	<button class="tablinks" onclick="openTab(event, 'level-cards')">Cards View</button>
	<button class="tablinks" onclick="openTab(event, 'level-table')">Table View</button>
</div>

<div id="level-cards" class="tabcontent">
	<%= partial :move_cards, moves: moves, lang: lang %>
</div>

<div id="level-table" class="tabcontent">
	<%= partial :move_table, moves: moves, lang: lang %>
</div>

<% grouped_moves = moves_hmtm.group_by { |move| move[1] } %>
<% unless grouped_moves.size == 0 %>
	<hr>
	<h2>Through HM/TM</h2>
	<p>Select a game</p>
	<div class="tab">
	<% grouped_moves.each do | version, moves | %>
		<% moves.map! { |move| move.drop(2) } %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% end %>
	</div>

	<% grouped_moves.each do | version, moves | %>
		<div id="<%= version %>" class="tabcontent">
			<h3><%= version %></h3>
			<details>
				<summary class="table">Toggle table</summary>
				<%= partial :move_table, moves: moves, lang: lang %>
				<hr>
			</details>
			<%= partial :move_cards, moves: moves, lang: lang %>
		</div>
	<% end %>
<% end %>

<%= partial :tab_js %>
