<%= partial :lang_select, id: id, lang: lang %>

<h1 class="no-bottom-margin"><%= name %> moves in <%= moves[0][10] %></h3>
<p class="info">(<u>Underlined</u> moves are STAB. The moves this Pokémon learns in <%= moves[0][10] %>)</p>

<%= partial :move_gens_type, gens: gens, lang: lang, id: id %>
<p class="info">(Click the button to view this Pokémon’s moveset in another generation)</p>
<hr>

<h2>Through level up</h2>
<details>
	<summary>Through level up</summary>
	<details>
		<summary>Toggle table</summary>
		<%= partial :move_table, moves: moves, lang: lang %>
		<hr>
	</details>
	<%= partial :move_cards, moves: moves, lang: lang %>
</details>

<hr>
<h2>Through HM/TM</h2>
<details>
	<summary>Through HM/TM</summary>
	<p>Select a game</p>
	<hr class="small">
	<% grouped_moves = moves_hmtm.group_by { |move| move[1] } %>
	<% grouped_moves.each do | version, moves | %>
		<% moves.map! { |move| move.drop(2) } %>
		<details>
			<summary><%= version %></summary>
			<div class="hm-details">
				<h3><%= version %></h3>
				<details>
					<summary>Toggle table</summary>
					<%= partial :move_table, moves: moves, lang: lang, machine: true %>
					<hr>
				</details>
				<%= partial :move_cards, moves: moves, lang: lang %>
			</div>
		</details>
	<% end %>
	<br>
</details>
