<%= partial :lang_select, id: id, lang: lang %>

<h1 class="no-bottom-margin"><%= name %> moves in <%= gen_name %></h1>
<p class="info"><%= I18n.t(:moves_info_stab, gen: gen_name) %></p>

<div class="sprites">
	<img src="<%= sprite %>">
</div>

<%= partial :move_gens_type, gens: gens, lang: lang, id: id %>
<p class="info"><%= I18n.t(:view_moveset_generation) %></p>
<hr>

<h2>Through Level-Up</h2>
<p>Select a game</p>
<div class="tab">
	<% moves.each do | version, moves | %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>-level')"><%= version %></button>
	<% end %>
</div>
<% moves.each do | version, moves | %>
	<div id="<%= version %>-level" class="tabcontent">
		<h3><%= version %></h3>
		<details>
			<summary class="table">Toggle table</summary>
			<%= partial :move_table_hash, moves: moves, lang: lang %>
			<hr>
		</details>
		<%= partial :move_cards_hash, moves: moves, lang: lang %>
	</div>
<% end %>

<% grouped_moves = moves_hmtm.group_by { |move| move[1] } %>
<% unless grouped_moves.size == 0 %>
	<hr>
	<h2>Through HM/TM</h2>
	<p>Select a game</p>
	<div class="tab">
	<% grouped_moves.each do | version, moves | %>
		<% moves.map! { |move| move.drop(2) } %>
		<button class="tablinks" onclick="openTab(event, '<%= version %>')"><%= version %></button>
	<% end %>
	</div>

	<% grouped_moves.each do | version, moves | %>
		<div id="<%= version %>" class="tabcontent">
			<h3><%= version %></h3>
			<details>
				<summary class="table">Toggle table</summary>
				<%= partial :move_table, moves: moves, lang: lang %>
				<hr>
			</details>
			<%= partial :move_cards, moves: moves, lang: lang %>
		</div>
	<% end %>
<% end %>

<%= partial :tab_js %>
