<%= partial :lang_select %>

<h1>Pokémon – <%= gen[0] %></h1>
<br />

<div class="search">
	<div class="pokemon-list">
		<% pokemon_of_gen.each do | id, info | %>
			<a href="/show/<%= id %>?lang=<%= lang %>"><img loading="lazy" src="<%= info[:sprite] %>"/><br /><%= info[:name] %></a><br /> 
		<% end %>
	</div>
</div>