<%= partial :lang_select %>

<h1>Pokémon in <%= pokemon[0]["generation_name"] %> that learn <%= pokemon[0]["name"] %></h1>
<a class="a-btn-3 full" href="/show/move/<%= pokemon[0]["move_id"] %>/gen/<%= pokemon[0]["generation_id"] %>">Show move details (power, accuracy, etc.)</a>
<br>

<% grouped_pokemon = pokemon.group_by { | entry | entry["version_name"] }%>

<div class="tab">
<% grouped_pokemon.keys.each do | version | %>
	<button class="tablinks" id="defaultOpen" onclick="openTab(event, '<%= version %>')"><%= version %></button>
<% end %>
</div>

<% grouped_pokemon.each do |version, entries| %>
	<div id="<%= version %>" class="tabcontent">
		<% grouped_pokemon2 = entries.group_by { | entry | entry["learn_method_name"]} %>

		<% grouped_pokemon2.each do | method, entries | %>
			<details>
				<summary>By <%= method %></summary>
				<div class="pokemom-list-container">
					<div class="pokemon-list">
						<% entries.each do |entry| %>
						<div class="pokemon search">
							<div class="id-container">
								<% entry["pokemon_id"].to_s.chars.map(&:to_i).each do | num | %>
									<span><%= num %></span>
								<% end %>
							</div>
							<div class="type-container">
							<% entry["pokemon_type_ids"].split(',').each do | id | %>
								<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>?lang=<%= lang %>">
								<div id="<%= id %>" class="move-type-card move-type-card-name rounded"></div>
								</a>
							<% end %>
							</div>
							<%=  %>
							<br>

							<a href="/show/<%= entry["pokemon_id"] %>?lang=<%= lang %>"><img loading="lazy" class="move-pokemon" src="<%= pokemon_sprite_url(entry) %>"><br><%= entry["pokemon_name"] %><br></a>
							<br>
						</div>
						<% end %>
					</div>
				</div>
			</details>
		<% end %>
	</div>
<% end %>

<%= partial :tab_js %>
