<%= partial :lang_select %>

<h1>“<img style="width: 128px; vertical-align: middle;" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= type_num %>.png" alt="Pokémon type <%= type_num %>">” Pokémon</h1>

<p>Number of Pokémon: <%= num_of_pokemon %></p>

<hr>
<h2 class="efficacy">Damage against other types</h2>
<p class="info">(The amount of damage this type does against Pokémon of other types)</p>
<div class="efficacy">
	<% efficacy_weakness[:efficacy].each do | damage, type | %>
		<div class="efficacy-type">
			<a href="/show/pokemon/type/<%= type %>?lang=<%= lang %>"><img class="types" style="width: 64px; vertical-align: middle;" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= type %>.png" alt="Pokémon type <%= type %>"></a><br>
			<span><%= convert_damage(damage) %>x</span>
		</div>
	<% end %>
</div>
<hr>
<h2 class="efficacy">Damage from other types</h3>
<p class="info">(The amount of damage that a Pokémon of this type receives from other types)</p>
<div class="efficacy">
	<% efficacy_weakness[:weakness].each do | damage, type | %>
		<div class="efficacy-type">
			<a href="/show/pokemon/type/<%= type %>?lang<%= lang %>"><img class="types" style="width: 64px; vertical-align: middle;" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= type %>.png" alt="Pokémon type <%= type %>"></a><br>
			<span><%= convert_damage(damage) %>x</span>
		</div>
	<% end %>
</div>

<hr>
<h2>All Pokémon with this type</h2>

<%= partial :view_pokemon_by_x, list: pokemon_of_type, lang: lang %>
