<%= partial :lang_select %>

<h1>Pokémon – <%= gen[0] %></h1>
<br>

<div class="pokemom-list-container">
	<div class="pokemon-list">
		<% pokemon_of_gen.each do | id, info | %>
			<div class="pokemon search">
				<% info[:types].each do |id, name| %>
					<a style="text-decoration: none;" href="/show/pokemon/type/<%= id %>">
						<img style="width: 64px; vertical-align: middle;" src="/sprites/types/generation-ix/scarlet-violet/Tera/<%= id %>.png" alt="Pokémon type <%= name %>">
					</a>
				<% end %>
				<br>
				<a href="/show/<%= id %>?lang=<%= lang %>"><img loading="lazy" src="<%= info[:sprite] %>"><br><%= info[:name] %><br></a>
				<a class="test" href="/show/pokemon/gen/<%= info[:gen][1] %>"><%= info[:gen][0] %></a>
				<br>
			</div>
		<% end %>
	</div>
</div>
