<style>
	<% FONTS.each do | font | %>
		<% unless font == "default" %>
			label[for="<%= font %>"] {
				font-family: "<%= font.gsub("-", " ").titleise %>"
			}
		<% end %>
	<% end %>
</style>

<h1>Settings</h1>

<div class="browse-gen-type">
	<form method="POST" action="/settings/select-font">
		<fieldset>
			<legend>Select a font</legend>
			<div>
				<% FONTS.each do | font | %>
					<div>
						<% if session[:font] == font or (!session[:font] and font == "default") then %>
							<input type="radio" checked id="<%= font %>" name="font" value="<%= font %>">
							<label for="<%= font %>"><%= font.gsub("-", " ").titleise %></label>
						<% else %>
							<input type="radio" id="<%= font %>" name="font" value="<%= font %>">
							<label for="<%= font %>"><%= font.gsub("-", " ").titleise %></label>
						<% end %>
					</div>
				<% end %>
			</div>
			<div>
				<button class="full" type="submit">Select font</button>
			</div>
		</fieldset>
	</form>

	<br>

	<form method="POST" action="/settings/toggle-shiny">
		<fieldset>
			<legend>Select a theme</legend>
			<div>
				<div>
					<input type="radio" id="normal" name="shiny-toggle" value="normal">
					<label for="normal">Normal</label>
				</div>
				<div>
					<input type="radio" id="shiny" name="shiny-toggle" value="shiny">
					<label for="shiny">Shiny</label>
				</div>
			</div>
			<div>
				<button class="full" type="submit">Select theme</button>
			</div>
		</fieldset>
	</form>
	<br>
	<form method="POST" action="/settings/select-cursor">
		<fieldset>
			<legend>Select a cursor</legend>
			<div>
				<div>
					<input type="radio" id="cursor" name="cursor" value="reset">
					<label for="cursor">None</label>
				</div>
				<% CURSORS.each do | cursor | %>
					<% formatted_cursor = File.basename(cursor, ".*") %>
					<div>
						<input type="radio" id="<%= cursor %>" name="cursor" value="<%= cursor %>">
						<label for="<%= cursor %>"><img src="/cursors/<%= cursor %>"></label>
					</div>
				<% end %>
			</div>
			<div>
				<button class="full" type="submit">Select cursor</button>
			</div>
		</fieldset>
	</form>
</div>
