<style>
	<% FONTS.each do | font | %>
		<% unless font == "default" %>
			label[for="<%= font %>"] {
				font-family: "<%= font.gsub("-", " ").titleise %>"
			}
		<% end %>
	<% end %>
</style>

<div class="browse-gen-type">
	<form method="POST" action="/settings/select-font">
		<fieldset>
			<legend>Select a font</legend>
			<div>
				<% FONTS.each do | font | %>
					<div>
						<% if session[:font] == font or (!session[:font] and font == "default") then %>
							<input type="radio" checked="checked" id="<%= font %>" name="font" value="<%= font %>">
							<label for="<%= font %>"><%= font.gsub("-", " ").titleise %></label>
						<% else %>
							<input type="radio" id="<%= font %>" name="font" value="<%= font %>">
							<label for="<%= font %>"><%= font.gsub("-", " ").titleise %></label>
						<% end %>
					</div>
				<% end %>
			</div>
			<div>
				<button class="full" type="submit">Select font</button>
			</div>
		</fieldset>
	</form>
</div>
