<div class="types">
	<h1><%= name.capitalize %></h1>
	<% types.each do |type| %>
		<img src="/sprites/types/generation-vii/ultra-sun-ultra-moon/<%= type.first.to_s %>.png"/>
	<% end %>
</div>

<div class="sprites">
	<img src="<%= sprite %>"/>

	<% if !sprite_back.nil? %>
		<img src="<%= sprite_back %>"/>
	<% end %>
</div>

<div class="flavour">
	<p><%= flavour_text %></p>
	<a href="/show/<%= id %>">Direct link</a>
</div>

<div class="damage_taken">
	<table><thead>
	<tr>
		<th>Normal</th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
		<th></th>
	</tr></thead>
	<tbody>
	<tr>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	</tbody>
	</table>
</div>
