<% sprite_hashes = {
					"front_default" => "Default",
					"front_female" => "Female",
					"front_shiny" => "Shiny",
					"front_shiny_female" => "Shiny Female",

					"back_default" => "Back Default",
					"back_female" => "Back Female",
					"back_shiny" => "Back Shiny",
					"back_shiny_female" => "Back Shiny Female"
} %>


<h2>All <%= name %> sprites</h1>
<hr>
<h2>Default sprites</h2>

<div class="all-sprites">
	<% sprite_hashes.each do | db_name, display_name | %>
		<% if sprites.dig(db_name) %>
			<figure>
				<img class="sprite" src="<%= format_sprite(sprites.dig(db_name)) %>">
				<figcaption><%= display_name %></figcaption>
			</figure>
		<% end %>
	<% end %>
</div>

<hr>

<div class="all-sprites">
	<% sprites["versions"]&.each do | generation, version | %>
		<% unless all_values_nil?(version) %>
			<div class="all-sprites-gen-container">
				<h2>Generation <%= generation.rpartition("-").last.upcase %></h2>
				<br>
				<div class="sprite-gen">
					<% version.each do | name, sprites | %>
						<div class="sprite-version-container">
							<div class="sprite-version-names">
								<% if name == "icons" %>
									<span>Icons</span>
								<% end %>
								<% get_version_names(name).flatten.uniq.each do | version | %>
									<% unless !sprites["front_default"] %>
										<span><%= version %></span>
									<% end %>
								<% end %>
							</div>

							<div class="sprite-version">
								<% sprite_hashes.each do | db_name, display_name | %>
									<% if sprites.dig(db_name) %>
										<figure>
											<img class="sprite" src="<%= format_sprite(sprites.dig(db_name)) %>">
											<figcaption><%= display_name %></figcaption>
										</figure>
									<% end %>

									<% if sprites.dig("animated", db_name) %>
										<figure>
											<img class="sprite" src="<%= format_sprite(sprites.dig("animated", db_name)) %>">
											<figcaption><%= display_name %> Animated</figcaption>
										</figure>
									<% end %>
								<% end %>
							</div>
						</div>
					<% end %>
				</div>
				<br>
			</div>
		<% end %>
	<% end %>
</div>
