<%= partial :lang_select_game, id: id, lang: lang %>

<div class="game">
	<h1><%= get_localised_text(lang, :guess_the_pokemon) %></h1>
	<p>Score: <%= calculate_game_score(points, guesses, skips) %> • <%= get_localised_text(lang, :correct_guesses) %>: <%= points %> / <%= guesses %> • <%= get_localised_text(lang, :skipped) %>: <%= skips %> • Difficulty: <%= session[:difficulty].capitalize %> • Gen: <%= session[:gen] %></p>
	
	<div class="game-buttons">
		<a class="a-btn-1" href="/game/reset/<%= lang %>"><%= get_localised_text(lang, :reset) %></a>
		<a class="a-btn-1" id="dec" href="#"><%= get_localised_text(lang, :decrease_blur) %></a>
		<a class="a-btn-1" href="/game/results?lang=<%= lang %>">Results</a>
		<br />
	</div>

	<img id="sprite" src="<%= sprite %>" style="filter: blur(<%= blur %>px); width: 256px"/>
	<br />

	<br /><br />
	<script>
		const img = document.getElementById('sprite');
		let start = <%= blur %>;
		let current = <%= blur %>;

		document.getElementById('dec').addEventListener('click', (event) => {
			event.preventDefault()
			current = Math.max(start - 5, current - 1);
			img.style.filter = `blur(${current}px)`;
		});
	</script>

	<form action="/game/play?lang=<%= lang %>" method="post">
		<input name="guess" autocomplete="off" required placeholder="<%= get_localised_text(lang, :enter_pokemon_name_game) %>">
		<button type="submit"><%= get_localised_text(lang, :guess_button) %></button>
		<a class="a-btn-2" href="/game/skip/<%= lang %>"><%= get_localised_text(lang, :skip) %></a>
	</form>
	<br />

	<% unless !hints[:first_letter] and !hints[:last_letter] %>
		<h2><%= get_localised_text(lang, :hints) %></h2>
	<% end %>

	<% unless !hints[:first_letter]%>
		<details>
			<summary>
			<%= get_localised_text(lang, :first_letter_of_name) %>
			</summary>
			<p><%= get_localised_text(lang, :first_letter_of_name) %>: <%= hints[:first_letter] %></p>
		</details>
	<% end %>

	<% unless !hints[:last_letter]%>
		<details>
			<summary>
			<%= get_localised_text(lang, :last_letter_of_name) %>
			</summary>
			<p><%= get_localised_text(lang, :last_letter_of_name) %>: <%= hints[:last_letter] %></p>
		</details>
	<% end %>
</div>