<%= partial :lang_select_game, lang: lang %>
<%= partial :privacy_js %>

<h1>Pokémon Guessing Game – Leaderboard</h1>
<div class="leaderboard">
	<table><thead>
	<tr>
		<th>User</th>
		<th>Score</th>
		<th>Date</th>
	</tr></thead>
	<tbody>
		<% REDIS.zrevrange("scores", 0, -1, :with_scores => true).each do |name, score| %>
			<tr>
				<td><%= name.rpartition("-")[0] %></td>
				<td><%= score.to_i %></td>
				<td><%= Time.strptime(name.rpartition("-")[2], '%Y%m%d%H%M%S').strftime('%B %-d, %Y') %></td>
			</tr>
		<% end %>
	</tbody>
	</table>
</div>
<% if username and points %>
	<hr>
	<h1>Your data</h1>
	<p>User: <%= session[:username] %> • Score: <%= calculate_game_score(points, guesses, skips) %> • <%= get_localised_text(lang, :correct_guesses) %>: <%= points %> / <%= guesses %> • <%= get_localised_text(lang, :skipped) %>: <%= skips %> • Difficulty: <%= session[:difficulty].capitalize %> • Gen: <%= session[:gen] %></p>

	<% if !session[:saved_in_leaderboard] %>
		<%= partial :save_in_leaderboard %>
	<% else %>
		<form action="/game/leaderboard/save" method="post">
			<button type="submit">Override saved data in leaderboard</button>
		</form>
	<% end %>
<% end %>
